%h2= _("Idiom")

.btn-toolbar
  = semantic_form_for :lang,
                      :simple => true,
                      :method => :put,
                      :url => language_path do |f|
    = f.inputs :inline => true, :without_errors => true do
      .input-prepend
        %span.add-on Select console idiom
        = f.input :select, {collection: options_for_select({_('en') => 'en-us', _('pt-br') => 'pt-br'}, session[:lang]), :include_blank => false, :input_html => {:style => 'width: auto', :title => I18n.t(:select_language) }}

- content_for :javascripts do
  :javascript
    $('#lang_select').change(function (ev) {
      ev.target.form.submit();
    });
