%h2= I18n.t :Credits

:css
  .credits { width: 25%; }

%table.credits

- if plan[:free_tier]
  %tr
    %td Free Tier:
    %td= plan[:free_tier] small gear(s)

- if plan[:bonus]
  %tr
    %td Bonus:
    %td= plan[:bonus] small gear(s)

- if plan[:voucher]
  %tr
    %td Voucher:
    %td= 'R$ ' + plan[:voucher]
