%h2 Contact Info

%p Provide your technical and billing contact information.

.btn-toolbar
  %p
    = link_to _('Technical Info'), edit_account_address_primary_path, :class => 'btn btn-small btn-danger'
    = link_to _('Billing Info'), edit_account_address_billing_path, :class => 'btn btn-small btn-danger'

///////////////////

%h2 Invoices

%p Access your monthly invoice.

.btn-toolbar
  = link_to _('Invoices') + '...', account_billings_path, :class => 'btn btn-small btn-danger'

///////////////////

- if @has_credits
  %section
    = render :partial => 'credits', :locals => {:plan=> @plan, :getup_credit_url => @getup_credit_url}

