- content_for :page_title, _('My Account')

%h1= _('My Account')
= flashes

.row.account
  .span7
    %section.payment
      = render :partial => 'payment', :locals => { :capabilities => @capabilities, :payment => @payment, :plan => @plan }

  .span5
    %section.billing
      = render :partial => 'billing'

