- content_for :page_title, 'My Account'

%h1 My Account
= flashes

.row
  .span7
    %section
      = render :partial => 'payment', :locals => { :capabilities => @capabilities, :payment => @payment, :plan => @plan }

  .span5
    %section
      = render :partial => 'billing'

    - if @has_credits
      %section
        = render :partial => 'credits', :locals => {:plan=> @plan, :getup_credit_url => @getup_credit_url}
