- content_for :page_title, 'My Account'

%h1 My Account
= flashes

%section
  = render :partial => 'validate', :locals => { :capabilities => @capabilities, :payment => @payment, :plan => @plan }

- if @has_credits
  %section
    = render :partial => 'credits', :locals => {:plan=> @plan, :getup_credit_url => @getup_credit_url}

  %section
    = render :partial => 'billing'
