Gears are the application containers running your code.

! Can't find the gear you're looking for? Check if it's #{link_to(_('enabled for this namespace.'), domains_url)}

- if gear_sizes.empty?
  There are no gear sizes available for this application.
